@font-face {
  font-family: "Antonio-Regular";
  src: local("Antonio-Regular"),
    url("assets/fonts/Antonio/static/Antonio-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "LeagueSpartan-Regular";
  src: local("LeagueSpartan-Regular"),
    url("assets/fonts/League_Spartan/static/LeagueSpartan-Regular.ttf") format("truetype");
}

.body{
background-color: #070724;

background-image: url(assets/svg/background-stars.svg);
background-size: cover;
}

h1, h2, h3, h4 , h5 ,h6{
  margin: 0;
}

span, p, a{
  margin: 0;
}

ul, nav{
  margin: 0;
  padding: 0;
  list-style: none;
}

img{
    display: block;
}